<h1>Use Token to Complete Transaction</h1>
<div class="container">
    <form (ngSubmit)="!todoForm.invalid && save()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label>Amount</label>
            <input type="text" #description="ngModel" [(ngModel)]="cardDetails.amount" class="form-control"
                name="description" required="required">
        </fieldset>
        <tr *ngFor="let movie of cardDetailsarr;">
            <input type="radio" name="token" value="{{movie.token}}"  [(ngModel)]="cardDetails.token" />
            <td>{{movie.email}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{movie.cardNumber}}</td>

        </tr>
        <button type="submit" class="btn btn-success">Save</button>
    </form>

   
</div>