<h1>Welcome BYOD</h1>
<div class="container"></div>
<!-- <div class="container">Click here to go to Payment<button (click)="handleWelcomeWithPathVariable()" class="btn btn-success">Click
        Here</button>
</div> -->



<table class="table">
    <thead>
        <tr>
            <th>BluePay Tokenization </th>
            <th>Redirect to Blue pay URL</th>
            <th>Make a payment using secure Token</th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        <tr>
            <td><button (click)="handlelocalForm()" class="btn btn-success">Create a Token</button></td>
            <td><button (click)="handleWelcomeWithPathVariable()" class="btn btn-warning">Blue Pay Secure URL</button></td>
            <td><button (click)="createTransaction()" class="btn btn-danger">Make a Transaction</button></td>
        </tr>
    </tbody>